/* src/app.css */

@import 'tailwindcss';

:root {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    segoe ui,
    Roboto,
    helvetica neue,
    Arial,
    noto sans,
    sans-serif,
    apple color emoji,
    segoe ui emoji,
    segoe ui symbol,
    noto color emoji;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 640px;
  text-align: center;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.8rem;
}

p {
  margin: 0;
}

label {
  margin: 0;
  font-weight: bold;
}

hr {
  margin: 0.25rem 0;
}

ul,
ol {
  padding-left: 1rem;
  margin: 0.25rem 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}

li {
  margin: 0.25rem 0;
}

blockquote {
  margin: 1rem 0;
  padding-left: 1rem;
  border-left: 4px solid #ccc;
  font-style: italic;
}

pre {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
  background-color: #aaa;
  border: 1px solid #bbb;
  border-radius: 0.5rem;
  white-space: pre;
}

code {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
  background-color: #aaa;
  border-radius: 0.5rem;
  white-space: pre;
  font-family: monospace;
}

/* Устранение стилей для ссылок */
a {
  text-decoration: none;
  color: #88f;
}

a:hover {
  text-decoration: underline;
  color: #08f;
}

/* Цветовая гамма */
.light-theme {
  --back-color: #ffffff; /* Чисто белый фон */
  --font-color: #1e293b; /* Темный сине-серый для текста */
  --border-color: #c6d1df; /* Светлые серо-голубые границы */
  --conteiner-color: #f8fafc; /* Очень светлый фон контейнеров */
  --field-color: #f1f5f9;

  --primary-color: #aaaaaa;
  --white-color: #ffffff;
  --red-color: #f87171;
  --orange-color: #fb923c;
  --amber-color: #fbbf24;
  --lime-color: #84cc16;
  --green-color: #22c55e;
  --sky-color: #0ea5e9;
  --blue-color: #3b82f6;
  --purple-color: #a855f7;
  --pink-color: #ec4899;
  --rose-color: #f43f5e;
}

.dark-theme {
  --back-color: #0f172a; /* Глубокий сине-черный фон */
  --font-color: #e2e8f0; /* Мягкий бело-голубой для текста */
  --border-color: #334155; /* Границы - темный серо-синий */
  --conteiner-color: #1e293b; /* Основные контейнеры - темный шифер */
  --field-color: #2d3748; /*цвет маленьких полей, например полей ввода*/

  --primary-color: #666666;
  --white-color: #d0d0d0;
  --red-color: #c0392b;
  --rose-color: #d6336c;
  --orange-color: #d35400;
  --amber-color: #e67e22;
  --lime-color: #5d8c2b;
  --green-color: #27ae60;
  --sky-color: #0c7abf;
  --blue-color: #2980b9;
  --purple-color: #8e44ad;
  --pink-color: #c2185b;
}

.primary {
  --color: var(--primary-color);
}
.white {
  --color: var(--white-color);
}
.red {
  --color: var(--red-color);
}
.orange {
  --color: var(--orange-color);
}
.amber {
  --color: var(--amber-color);
}
.lime {
  --color: var(--lime-color);
}
.green {
  --color: var(--green-color);
}
.sky {
  --color: var(--sky-color);
}
.blue {
  --color: var(--blue-color);
}
.purple {
  --color: var(--purple-color);
}
.pink {
  --color: var(--pink-color);
}
.rose {
  --color: var(--rose-color);
}

.dark-theme .arrow,
.dark-theme .info,
.dark-theme .icon-eye,
.dark-theme .icon-eye-slash {
  filter: invert(0.9);
}
